*{
    margin: 0;
    padding: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: rgb(252, 250, 250);
}
main img{
    width: 100%;
    height: 100%;
}
header{
    height: 130px;
}
header .top-header{
    height: 60%;
    background-color: white;
}
header .top-header .container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
header .top-header .container .logo{
    width: 15%;
    display: flex;
    align-items: center;
}
header .top-header .container .logo a img{
    width: 100%;
}
header .top-header .container .logo a:hover img{
    transform: rotateY(360deg);
    transition: 0.5s;
}
header .top-header .container .mysearch{
    width: 25%;
    display: flex;
    align-items: center;
    position: relative;
    left: 250px;
    top: 15px;
}
header .top-header .container .mysearch .form-control{
    height: 35px;
    width: 230px;
    border: none ;
    border-bottom: 1px solid rgb(211, 210, 210);
}
header .top-header .container .mysearch .form-control::placeholder{
    color: rgb(167, 166, 166);
    font-size: 15px;
}
header .top-header .container .mysearch .form-control:focus{
    outline: none;
    transition: 0.5s;
}
header .top-header .container .mysearch button{
    background: none;
    border: none;
    position: absolute;
    right: 55px;
    height: 35px;
    top: 30px;
}
header .top-header .container .mysearch .fa-search{
    color: rgb(167, 166, 166);
    font-size: 15px;
    position: absolute;
    right: -22px;
    top: -20px;
}
header .top-header .container .mysearch .fa-search:hover{
    color: rgb(238, 0, 45);
}
header .menu-navbar{
    height: 39px;
    background-color: rgb(238, 0, 45);
}
.navbar-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
header .menu-navbar .container{
    width: 90%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
}
header .menu-navbar .container > ul{
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header .menu-navbar .container ul li{
    position: relative;
    display: block;
    padding-bottom: 2px;
    padding-top: 5px;
    box-sizing: border-box;
    z-index: 99;
}
header .menu-navbar .container ul li:hover{
    padding-top: 3px;
    border-bottom: 2px solid white;
}
header .menu-navbar .container ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
header .menu-navbar .container ul li .dropdown{
    position: absolute;
    left: 0;
    top: 34px;
    background-color: white;
    width: max-content;
    border: 1px solid rgb(241, 241, 241);
    border-top: none;
    visibility: hidden;
}
header .menu-navbar .container ul li:hover .dropdown{
    visibility: visible;
    width: 170px;
    animation: showMenu linear 0.2s;
}
@keyframes showMenu {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
header .menu-navbar .container ul li .dropdown .dropdown-list{
    display: block;
}
header .menu-navbar .container ul li .dropdown .dropdown-list li{
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid rgb(224, 224, 224);
}
header .menu-navbar .container ul li .dropdown .dropdown-list li:hover{
    background-color: rgb(238, 0, 45);
    border: none;
    transition: 0.5s;
}
header .menu-navbar .container ul li .dropdown .dropdown-list li a{
    color: black;
    font-size: 16px;
}
header .menu-navbar .container ul li .dropdown .dropdown-list li:hover a{
    color: white;
    transition: 0.5s;
}

footer{
    height: 230px;
    background-color: #f4f4f4;
}
footer .container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
}
footer .container .footer-col-left{
    width: 50%;
    height: 100%;
    padding-left: 100px;
}
footer .container .footer-col-left .footer-logo{
    width: 20%;
    height: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    margin-left: 40px;
}
footer .container .footer-col-left .footer-logo img{
    width: 100%;
    height: 100%;
}
footer .container .footer-col-left .footer-content{
    width: 100%;
    font-size: 14px;
}
footer .container .footer-col-left .footer-content .list{
    list-style: none;
    color: #616161;
}
footer .container .footer-col-left .footer-content .list li{
    padding-bottom: 5px;
}
footer .container .footer-col-left .footer-content .list li a{
    text-decoration: none;
    color: #616161;
}
footer .container .footer-col-left .footer-content .list li a:hover{
    color: red;
    transition: 0.5s;
}
footer .container .footer-col-right{
    width: 50%;
    height: 100%;
    padding-left: 100px;
}
footer .container .footer-col-right .f-y{
    margin-top: 70px;
    font-size: 14px;
}
footer .container .footer-col-right .f-y p{
    color: #616161;
    margin-bottom: 10px;
}
footer .container .footer-col-right .f-y a{
    text-decoration: none;
    font-size: 25px;
}
footer .container .footer-col-right .f-y .fa-facebook-square{
    color: rgb(63, 75, 240);
    margin-left: 10px;
}
footer .container .footer-col-right .f-y .fa-youtube-square{
    color: red;
    margin-left: 18px;
}

main{
    margin-top: 100px;
}
main .container{
    width: 85%;
    margin: auto;
}
main .container .hot-post{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
}
main .container .hot-post .featured-post{
    width: 71%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
main .container .hot-post .featured-post .featured-post-col-left{
    width: 66%;
    height: 100%;
}
main .container .hot-post .featured-post .featured-post-col-left .big-img{
    width: 100%;
    height: 65%;
    position: relative;
    z-index: 1;
}
main .container .hot-post .featured-post .featured-post-col-left .big-img:hover::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.1;
}
main .container .hot-post .featured-post .featured-post-col-left .big-content{
    width: 100%;
    height: 35%;
}
main .container .hot-post .featured-post .featured-post-col-left .big-content a{
    text-decoration: none;
    color: black;
}
main .container .hot-post .featured-post .featured-post-col-left .big-content h2 a:hover{
    color: rgb(238, 0, 45);
    transition: 0.5s;
}
main .container .hot-post .featured-post .featured-post-col-left .big-content h2{
    margin-top: 5px;
}
main .container .hot-post .featured-post .featured-post-col-left .big-content p{
    font-size: 16px;
    margin-top: 10px;
}
main .container .hot-post .featured-post .featured-post-col-right{
    width: 30%;
    height: 100%;
}
main .container .hot-post .featured-post .featured-post-col-right .small-post{
    width: 100%;
    height: 50%;
}
main .container .hot-post .featured-post .featured-post-col-right .small-post .small-img{
    width: 100%;
    height: 60%;
    position: relative;
    z-index: 1;
}
main .container .hot-post .featured-post .featured-post-col-right .small-post .small-img:hover::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.1;
}
main .container .hot-post .featured-post .featured-post-col-right .small-post .small-content{
    width: 100%;
    height: 40%;
}
main .container .hot-post .featured-post .featured-post-col-right .small-post .small-content h3{
    margin-top: 5px;
}
main .container .hot-post .featured-post .featured-post-col-right .small-post .small-content a{
    text-decoration: none;
    color: black;
}
main .container .hot-post .featured-post .featured-post-col-right .small-post .small-content a:hover{
    color: rgb(238, 0, 45);
    transition: 0.5s;
}
main .container .hot-post .new-post{
    width: 26%;
    height: 96%;
    background-color: #f4f4f4;
}
main .container .hot-post .new-post .new-post-title{
    width: 50%;
    color: rgb(238, 0, 45);
    border-bottom: 1px solid rgb(238, 0, 45);
    margin-top: 20px;
    margin-left: 20px;
}
main .container .hot-post .new-post .new-post-list{
    margin-left: 20px;
    list-style: none;
}
main .container .hot-post .new-post .new-post-list li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0dede;
}
main .container .hot-post .new-post .new-post-list li a{
    text-decoration: none;
    color: black;
}
main .container .hot-post .new-post .new-post-list li a:hover{
    color: rgb(238, 0, 45);
    transition: 0.5s;
}
main .container .divider{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #f2f2f2;
}
main .container .category-post{
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}
main .container .category-post .category-post-title{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #cfcfcf;
}
main .container .category-post .category-post-title a{
    text-decoration: none;
}
main .container .category-post .category-post-title .category-title{
    margin-top: 20px;
    font-size: 20px;
}
main .container .category-post .category-post-title .category-title a{
    color: rgb(238, 0, 45);
}
main .container .category-post .category-post-title .subcategory-title{
    margin-top: 10px;
    font-size: 14px;
}
main .container .category-post .category-post-title .subcategory-title a{
    margin-right: 15px;
    color: gray;
}
main .container .category-post .category-post-title .subcategory-title a:hover{
    color: rgb(238, 0, 45);
    transition: 0.5s;
}
main .container .category-post .category-post-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
main .container .category-post .category-post-list .one-post{
    width: 29%;
    height: 45%;
    margin-top: 20px;
    margin-right: 33px;
}
main .container .category-post .category-post-list .one-post .post-img{
    width: 100%;
    /* height: 50%; */
    height: 172px;
    position: relative;
    z-index: 1;
}
main .container .category-post .category-post-list .one-post .post-img:hover::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.1;
}
main .container .category-post .category-post-list .one-post .post-content{
    width: 100%;
    height: 50%;
}
main .container .category-post .category-post-list .one-post .post-content a{
    color: black;
    text-decoration: none;
}
main .container .category-post .category-post-list .one-post .post-content h3{
    margin-top: 5px;
}
main .container .category-post .category-post-list .one-post .post-content h3 a:hover{
    color: rgb(238, 0, 45);
    transition: 0.5s;
}
main .container .category-post .category-post-list .one-post .post-content p{
    margin-top: 10px;
    font-size: 15px;
}

.scroll-up{
    position: fixed;
    bottom: 60px;
    right: 60px;
    color: white;
    border: none;
    background-color: rgb(238, 0, 45);
    padding: 10px;
    visibility: hidden;
}
.scroll-up:hover{
    background-color: black;
    transition: 0.5s;
}
.scroll-up-visible{
    visibility: visible;
}


.cp-title{
    width: 100%;
    height: 100px;
}
.cp-title .cp-category-title a{
    color: rgb(238, 0, 45);
    font-size: 30px;
}
.cp-title .cp-subcategory-title{
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cfcfcf;
}
.cp-title .cp-subcategory-title a{
    color: gray;
    font-size: 15px;
    margin-right: 15px;
}
.cp-title .cp-subcategory-title a:hover{
    color: rgb(238, 0, 45); 
    transition: 0.5s;
}
.cp-title a{
    text-decoration: none;
}
.cp-post-list{
    width: 80%;
}
.cp-post-list .cp-one-post{
    width: 100%;
    height: 150px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}
.cp-post-list .cp-one-post .cp-post-img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.cp-post-list .cp-one-post .cp-post-img:hover::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.1;
}
.cp-post-list .cp-one-post .cp-post-content{
    width: 65%;
    height: 100%;
    margin-left: 10px;
    position: relative;
}
.cp-post-list .cp-one-post .cp-post-content a{
    text-decoration: none;
    color: black;
}
.cp-post-list .cp-one-post .cp-post-content h3:hover a{
    color: rgb(238, 0, 45);
    transition: 0.5s;
}
.cp-post-list .cp-one-post .cp-post-content h3{
    margin-top: 5px;
}
.cp-post-list .cp-one-post .cp-post-content p{
    font-size: 15px;
    margin-top: 10px;
}
.cp-post-list .cp-one-post .cp-post-content .cp-post-time{
    font-size: 13px;
    position: absolute;
    left: 0;
    bottom: 10px;
    color: gray;
}


.sp-detail{
    width: 100%;
}
.sp-detail .sp-category-time{
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: gray;
}
.sp-detail .sp-category-time .sp-category a{
    text-decoration: none;
    font-size: 15px;
    color: gray;
}
.sp-detail .sp-category-time .sp-category a:hover{
    color: rgb(238, 0, 45);
    transition: 0.5s;
}
.sp-detail .sp-category-time .sp-time{
    font-size: 14px;
}
.sp-detail .sp-post-title{
    width: 70%;
    margin-top: 15px;
}
.sp-detail .sp-post-content{
    width: 70%;
}
.sp-detail .sp-post-content p{
    margin-top: 20px;
    line-height: 25px;
    font-size: 17px;
}
.sp-detail .sp-post-content .sp-img{
    width: 100%;
    height: 550px;
    margin-top: 20px;
    text-align: center;
}
.sp-detail .sp-post-content .sp-img img{
    width: 93%;
    height: 89%;
}
.sp-detail .sp-post-content .sp-img .sp-img-content{
    width: 93%;
    height: 11%;
    font-size: 15px;
    text-align: left;
    margin: auto;
    background-color: #f1f1f1;
}
.sp-detail .sp-author{
    width: 70%;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: right;
}
.cp-post-list .cp-header{
    color: rgb(238, 0, 45);
}
